:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-nav > li {
    float: left;
    position: relative;
}

.navbar-collapse .navbar-nav .active a::after {
    border-bottom: 5px solid lightskyblue;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
}

.bg-grey {
    background-color: #e9ecef;
}

.pagination > li > a,
.pagination > li > a:focus,
.pagination > li > a:hover {
    color: #6c757d;
}

.pagination > .active > span.page-link,
.pagination > .active > span.page-link:focus,
.pagination > .active > span.page-link:hover {
    background-color: #6c757d;
    border-color: #6c757d;
}
